/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  font-family: 'Work Sans', sans-serif;
  color: #282E3E;
  background: #F7F4F2;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #67b0d1;
}

a:hover {
  color: #8ec4dd;
  text-decoration: none;
}

img, svg {
  vertical-align: middle;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  padding: 24px 0;  
  transition: all 0.5s;
  z-index: 997;
}

.navbar {
  padding: 0;
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}

.nav-link {
  position: relative;
  padding: 0.5rem 1.5rem;
  font-size: 1rem;
  font-weight: 500;
  color: rgba(40, 46, 62, 0.8);
  white-space: nowrap;
  transition: 0.3s;
}

.nav-link:before {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 50%;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: #D11919;
  opacity: 0;
  transition: 0.3s;
}

.navbar li:hover > a {
  color: #282E3E;
}

.navbar li:hover > a:before {
  opacity: 1;
}

.mobile-nav-toggle {
  color: #D11919;
  font-size: 1.5rem;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
}

@media (max-width: 767px) {
  .mobile-nav-toggle {
    display: block;
  }
  .navbar ul {
    display: none;
  }
}

.navbar-mobile {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(43, 111, 142, 0.9);
  transition: 0.3s;
}

.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
}

.navbar-mobile ul {
  display: block;
  position: absolute;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  padding: 10px 0;
  background-color: #fff;
  overflow-y: auto;
  transition: 0.3s;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/